html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks-in-header, .blocks-in-header__bottom-block, .booking, .booking__steps figure, .partners, .partners__pages, .presentation, .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks-in-header__sign-up, .blocks-in-header__search, .booking__block, .partners__block-icon, .partners__other-partners, .presentation__slide, .presentation__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  position: relative;
  width: 1222px;
}

.header-image-block {
  width: 100%;
  height: 599px;
}

.header-image-block .header-image {
  width: 100%;
  height: 594px;
}

.header-image-block .header-image-mobile {
  display: none;
}

.gradient {
  width: 100%;
  height: 594px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff4e512f), to(#f9d52331));
  background: linear-gradient(360deg, #ff4e512f 0%, #f9d52331 100%);
  background-color: #0000005d;
  position: absolute;
}

.blocks-in-header {
  width: 100%;
  height: 362px;
  color: white;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat';
  padding: 42px 0px;
  z-index: 1;
}

.blocks-in-header__top-block {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks-in-header__logotype {
  font-size: 17px;
  font-variation-settings: 'wdth' 400, 'wght' 580;
}

.blocks-in-header__etrance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 36px 0px 0px;
}

.blocks-in-header__log-in {
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 18px;
}

.blocks-in-header__sign-up {
  width: 73px;
  height: 27px;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  margin: -8px 0px 0px 0px;
  text-decoration: none;
  font-size: 12px;
}

.blocks-in-header__bottom-block {
  width: 33%;
  height: 60%;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks-in-header__title {
  font-size: 44px;
  text-align: center;
  font-variation-settings: 'wdth' 400, 'wght' 775;
  line-height: 55px;
}

.blocks-in-header__text {
  height: 25px;
  font-size: 18px;
  font-variation-settings: 'wdth' 400, 'wght' 250;
  margin: 5px 0px 0px 0px;
}

.blocks-in-header__search {
  width: 192px;
  height: 34px;
  background-color: #ff4e50;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-variation-settings: 'wdth' 400, 'wght' 573;
}

main {
  font-family: 'Montserrat';
}

.booking {
  padding: 74px 0px 0px 0px;
}

.booking__articles {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking__title {
  font-size: 22px;
  font-variation-settings: 'wdth' 400, 'wght' 750;
}

.booking__steps {
  padding: 33px 0px;
  position: relative;
}

.booking__gradient {
  width: 100%;
  height: 340px;
  background-color: #0000005d;
  position: absolute;
  border-radius: 5px;
}

.booking__image {
  width: 255px;
  border-radius: 5px;
  overflow: hidden;
  height: 340px;
}

.booking__image-width {
  width: 100%;
}

.booking__signature {
  width: 212px;
  color: white;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  padding: 0px 0px 50px 0px;
}

.booking__block {
  width: 60px;
  height: 17px;
  background-color: #ff4e50;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-size: 10px;
}

.booking__step-title {
  font-size: 21px;
  padding: 15px 0px 15px 0px;
  line-height: 27px;
  font-variation-settings: 'wdth' 400, 'wght' 550;
}

.booking__text {
  font-size: 10px;
  line-height: 12px;
  font-variation-settings: 'wdth' 400, 'wght' 550;
}

.partners {
  padding: 44px 0px;
}

.partners__title {
  font-size: 22px;
  font-variation-settings: 'wdth' 400, 'wght' 700;
}

.partners__block-pages {
  width: 715px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 0px 37px 0px;
}

.partners__pages {
  width: 104px;
}

.partners__pages-mobile {
  display: none;
}

.partners__avatars {
  position: relative;
}

.partners__foto {
  width: 103px;
  border-radius: 50%;
}

.partners__block-icon {
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: -2px;
  right: -4px;
  z-index: 1;
  border-radius: 50%;
  border: 5px solid white;
}

.partners__background-color1 {
  background-color: #ff4e50;
}

.partners__background-color2 {
  background-color: #19d4ca;
}

.partners__background-color3 {
  background-color: #ffa710;
}

.partners__background-color4 {
  background-color: #667df3;
}

.partners__text {
  font-size: 12px;
  text-align: center;
  padding: 15px 0px 0px 0px;
}

.partners__name {
  font-variation-settings: 'wdth' 400, 'wght' 700;
}

.partners__information {
  width: 200px;
  padding: 18px 0px 0px 0px;
  font-size: 11px;
}

.partners__other-partners {
  width: 150px;
  height: 30px;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  padding: 0px 0px;
  text-decoration: none;
  font-variation-settings: 'wdth' 400, 'wght' 750;
  font-size: 12px;
}

.presentation__title, .search__title {
  padding: 34px 0px 33px 0px;
  font-size: 22px;
  font-variation-settings: 'wdth' 400, 'wght' 750;
}

.presentation__mobile-block {
  display: none;
}

.presentation__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 255px 255px 255px;
      grid-template-columns: 255px 255px 255px;
  -ms-grid-rows: 265px 265px 265px;
      grid-template-rows: 265px 265px 265px;
  -webkit-column-gap: 17px;
          column-gap: 17px;
  row-gap: 15px;
}

.presentation__slide {
  position: relative;
}

.presentation__gradient {
  width: 100%;
  height: 264px;
  background-color: #0000005d;
  position: absolute;
  border-radius: 5px;
}

.presentation__image-block {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.presentation__image {
  width: 100%;
}

.presentation__correction-image7 {
  display: none;
}

.presentation__description {
  width: 90%;
  height: 100%;
  color: white;
  position: absolute;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-variation-settings: 'wdth' 400, 'wght' 550;
}

.presentation__correction-description1 {
  line-height: 25px;
  margin: 0px 0px 0px 3px;
}

.presentation__description3-width {
  width: 164px;
}

.presentation__culture {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.presentation__relaxion {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.search {
  padding: 0px 0px 64px 0px;
}

.search__title {
  padding: 77px 0px 0px 0px;
}

.search__text {
  font-size: 13px;
  padding: 47px 0px 0px 0px;
}

.search form {
  width: 410px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px;
}

.search__input {
  width: 255px;
  height: 35px;
  font-size: 12px;
  padding: 3px 0px 0px 10px;
}

.search__button {
  width: 150px;
  height: 35px;
  background-color: #ff4e50;
  color: white;
  border-radius: 20px;
  border: 0;
}

.footer {
  width: 799px;
  border-top: 2px solid #ff4e50;
  font-family: 'Montserrat';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 212px;
}

.footer__logotype-text {
  color: #ff4e50;
  font-size: 13px;
  margin: -2px 0px 0px 0px;
}

.footer__block-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 465px;
}

.footer__companys-information {
  margin: -1px 0px 0px 3px;
}

.footer__companys-title {
  font-variation-settings: 'wdth' 400, 'wght' 750;
  font-size: 12px;
  padding: 0px 0px 12px;
}

.footer__companys-items {
  line-height: 22px;
  font-size: 11px;
}

.footer__partners-title {
  font-variation-settings: 'wdth' 400, 'wght' 750;
  font-size: 12px;
  width: 58px;
}

.footer__block-logotype {
  width: 106px;
  margin: -1px -11px 0px 0px;
}

.footer__logotype-image {
  width: 95px;
  height: 20px;
  padding: 7px 0px 0px 2px;
}

.footer__designed-by {
  font-size: 9px;
  font-variation-settings: 'wdth' 400, 'wght' 750;
  padding: 0px 0px 0px 30px;
}

@media screen and (max-width: 1221px) and (min-width: 769px) {
  header {
    width: 695px;
  }
  .header-image-block {
    width: 100%;
    height: 635px;
    overflow: hidden;
  }
  .header-image-block .header-image {
    width: 188%;
    height: 635px;
    margin: 0px 0px 0px -305px;
  }
  .header-image-block .gradient {
    height: 635px;
  }
  .blocks-in-header__top-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 87%;
  }
  .blocks-in-header__etrance {
    padding: 0px;
  }
  .blocks-in-header__logotype {
    font-size: 18px;
  }
  .blocks-in-header__sign-up {
    width: 76px;
    height: 29px;
    margin: -6px 0px 0px 0px;
  }
  .blocks-in-header__log-in {
    margin: 3px 0px 0px -6px;
  }
  .blocks-in-header__bottom-block {
    width: 61%;
    height: 55%;
    color: white;
  }
  .blocks-in-header__title {
    font-size: 46px;
  }
  .blocks-in-header__text {
    height: 22px;
    font-size: 19px;
  }
  .blocks-in-header__search {
    width: 205px;
    height: 36px;
    margin: 0px 0px -27px 0px;
    font-size: 13px;
  }
  .booking {
    padding: 86px 0px 0px 0px;
  }
  .booking__title {
    font-size: 20px;
  }
  .booking__steps {
    padding: 35px 0px;
  }
  .booking__articles {
    width: 675px;
  }
  .booking__image {
    width: 213px;
    height: 362px;
  }
  .booking__gradient {
    height: 361px;
  }
  .booking__image-width {
    width: 127%;
  }
  .booking__signature {
    width: 180px;
  }
  .booking__block {
    width: 65px;
  }
  .booking__block-tablet {
    margin: 0px 0px -28px 0px;
  }
  .booking__text {
    font-size: 11px;
  }
  .booking__step-title {
    font-size: 22px;
    padding: 43px 0px 28px 0px;
    line-height: 12px;
  }
  .booking__step-title-tablet {
    font-size: 23px;
    margin: 0px 0px -5px 0px;
  }
  .partners {
    padding: 52px 0px;
  }
  .partners__title {
    font-size: 20px;
  }
  .partners__block-pages {
    width: 465px;
    height: 421px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .partners__foto {
    width: 110px;
  }
  .partners__text {
    font-size: 13px;
    height: 60px;
  }
  .partners__information {
    padding: 23px 0px 0px 0px;
  }
  .partners__other-partners {
    width: 160px;
    height: 33px;
    font-size: 13px;
  }
  .presentation__title, .search__title {
    font-size: 20px;
  }
  .presentation__grid {
    -ms-grid-columns: 214px 215px 214px;
        grid-template-columns: 214px 215px 214px;
    -ms-grid-rows: 281px 283px 282px;
        grid-template-rows: 281px 283px 282px;
    row-gap: 17px;
  }
  .presentation__image {
    width: 127%;
    margin: 2px 0px 0px -36px;
  }
  .presentation__gradient {
    height: 100%;
  }
  .presentation__description {
    width: 80%;
  }
  .presentation__correction-image3 {
    margin: 2px 0px 0px -18px;
  }
  .presentation__correction-image4 {
    margin: 2px 0px 0px -27px;
  }
  .presentation__correction-image5 {
    margin: 2px 0px 0px -65px;
  }
  .presentation__correction-image6 {
    margin: 2px 0px 0px -3px;
  }
  .presentation__correction-image7 {
    display: block;
    width: 100%;
    margin: 2px 0px 0px 0px;
  }
  .search {
    padding: 0px 0px 70px 0px;
  }
  .search__title {
    padding: 87px 0px 0px 0px;
  }
  .search__text {
    font-size: 15px;
    padding: 50px 0px 0px 0px;
  }
  .search form {
    width: 433px;
  }
  .search__input {
    width: 270px;
    font-size: 13px;
  }
  .search__button {
    width: 155px;
    height: 37px;
  }
  .footer {
    width: 630px;
    padding: 33px 33px;
  }
  .footer__block-information {
    width: 420px;
  }
  .footer__logotype-text {
    font-size: 15px;
  }
  .footer__companys-information {
    padding: 4px 0px 0px 43px;
  }
  .footer__companys-title {
    font-variation-settings: 'wdth' 400, 'wght' 550;
    font-size: 13px;
    padding: 0px 0px 11px;
  }
  .footer__companys-items {
    line-height: 23px;
    font-size: 11px;
  }
  .footer__partners {
    padding: 4px 0px;
  }
  .footer__partners-title {
    font-variation-settings: 'wdth' 400, 'wght' 550;
    font-size: 13px;
  }
  .footer__designed-by {
    font-size: 10px;
    padding: 2px 0px 0px 30px;
  }
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  header {
    width: 281px;
  }
  .gradient {
    width: 281px;
    height: 490px;
  }
  .header-image-block {
    width: 272px;
    height: 489px;
    padding: 0px 0px 0px 0px;
  }
  .header-image-block .header-image {
    display: none;
  }
  .header-image-block .header-image-mobile {
    display: block;
    width: 103%;
    height: 490px;
  }
  main {
    width: 281px;
  }
  .blocks-in-header {
    width: 277px;
    height: 309px;
    padding: 42px 0px 0px 0px;
  }
  .blocks-in-header__logotype {
    display: none;
  }
  .blocks-in-header__top-block {
    width: 71%;
  }
  .blocks-in-header__etrance {
    margin: -15px 0px 0px 27px;
    width: 140px;
  }
  .blocks-in-header__bottom-block {
    width: 90%;
    height: 67%;
    padding: 0px 0px 2px 16px;
  }
  .blocks-in-header__bottom-block::before {
    content: 'DREAMSHARE';
    font-size: 18px;
    font-variation-settings: 'wdth' 400, 'wght' 750;
  }
  .blocks-in-header__log-in {
    width: 57px;
  }
  .blocks-in-header__sign-up {
    width: 75px;
    border: 3px solid white;
  }
  .blocks-in-header__title {
    font-size: 27px;
    line-height: 35px;
    padding: 21px 0px 0px 0px;
  }
  .blocks-in-header__text {
    font-size: 15px;
    text-align: center;
    width: 90%;
    padding: 0px 0px 35px 0px;
    line-height: 23px;
  }
  .blocks-in-header__search {
    width: 250px;
    margin: 0px;
    font-size: 13px;
  }
  .booking {
    padding: 33px 0px;
    width: 271px;
  }
  .booking__title {
    font-size: 20px;
    text-align: center;
  }
  .booking__articles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 7px 0px 0px 0px;
  }
  .booking__steps {
    padding: 9px 0px 0px 0px;
  }
  .booking__image-width {
    display: none;
  }
  .booking__image {
    width: 271px;
    height: 217px;
    position: relative;
  }
  .booking__image-width-mobile {
    width: 100%;
  }
  .booking__signature {
    width: 235px;
    padding: 0px 0px 16px 0px;
  }
  .booking__step-title {
    padding: 41px 0px 24px 0px;
    line-height: 12px;
  }
  .booking__block {
    width: 62px;
    height: 19px;
  }
  .booking__text {
    font-size: 12px;
    font-variation-settings: 'wdth' 400, 'wght' 400;
  }
  .booking__block-tablet {
    margin: 0px 0px -12px 0px;
  }
  .partners {
    width: 271px;
    padding: 0px;
  }
  .partners__title {
    text-align: center;
    padding: 0px 0px 0px 0px;
    line-height: 24px;
    font-size: 20px;
  }
  .partners__block-pages {
    width: 100%;
    height: 820px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row;
    padding: 13px 0px 0px 0px;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .partners__pages {
    width: 100%;
  }
  .partners__foto {
    width: 110px;
  }
  .partners__pages-mobile {
    display: block;
    width: 100%;
  }
  .partners__pages-correction-in-phone {
    display: none;
  }
  .partners__text {
    padding: 16px 0px 0px 4px;
  }
  .partners__information {
    width: 230px;
    padding: 20px 0px 0px 0px;
    line-height: 13px;
  }
  .partners__other-partners {
    width: 250px;
    height: 32px;
    margin: 17px 0px 0px 0px;
  }
  .presentation {
    width: 271px;
  }
  .presentation__title, .search__title {
    text-align: center;
    width: 200px;
    line-height: 23px;
    padding: 34px 0px 30px 0px;
    font-size: 20px;
  }
  .presentation__grid {
    display: none;
  }
  .presentation__mobile-block {
    display: block;
  }
  .presentation__mobile-block-image {
    width: 100%;
    height: 109px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 9px 0px;
  }
  .presentation__mobile-image {
    width: 100%;
  }
  .presentation__mobile-description {
    width: 190px;
    color: white;
    display: block;
    position: absolute;
    text-decoration: none;
    z-index: 1;
    font-variation-settings: 'wdth' 400, 'wght' 700;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
  }
  .presentation__gradient {
    width: 100%;
    height: 108px;
    background-color: #0000005d;
    position: absolute;
    border-radius: 5px;
  }
  .presentation__mobile-description-correction-block1 {
    height: 70px;
    width: 130px;
  }
  .presentation__mobile-description-correction-block5 {
    width: 100%;
  }
  .presentation__mobile-description-correction-block6 {
    width: 100%;
  }
  .search {
    width: 271px;
    padding: 0px 0px 27px 0px;
  }
  .search__title {
    padding: 22px 0px 0px 0px;
  }
  .search__text {
    font-size: 14px;
    padding: 19px 0px 0px 0px;
  }
  .search form {
    width: 270px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 0px 0px 0px;
  }
  .search__input {
    width: 255px;
    height: 37px;
  }
  .search__button {
    width: 253px;
    height: 36px;
    margin: 9px;
    font-size: 14px;
  }
  .footer {
    width: 288px;
    padding: 20px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 12px 0px 0px;
  }
  .footer__logotype-text {
    font-size: 14px;
  }
  .footer__block-information {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__companys-information {
    padding: 17px 0px 0px 0px;
    width: 63%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__companys-title {
    padding: 0px;
  }
  .footer__companys-items {
    padding: 2px 0px 0px 0px;
    line-height: 22px;
  }
  .footer ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__partners {
    padding: 9px 0px;
  }
  .footer__block-logotype {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__designed-by {
    font-size: 10px;
    padding: 5px 0px 0px 0px;
  }
  .footer__logotype-image {
    width: 100px;
  }
}
/*# sourceMappingURL=Home work 12.css.map */